@*//[User][7] 회원 정보 표시*@

<h1>메인 페이지</h1>

@if (User.Identity.IsAuthenticated)
{
    <span>@User.FindFirst("UserId").Value 님, 반갑습니다.</span>

    <a href="/User/Logout">로그아웃</a>
}
else
{
    <a href="/User/Login">로그인</a>

    <a href="/User/Register">회원가입</a>
}