@{
    Layout = null;
}

@using DotNetNote.Services

@*@inject 키워드로 뷰에 직접 종속성 주입 적용하기*@
@inject CopyrightService CopyrightService

<p>
    &copy; @CopyrightService.CopyrightString
</p>
<p>
    &copy; @CopyrightService.GetCopyrightString()
</p>
