
<h3>게시판 상세 보기 테스트</h3>

<h4>모집 게시판 이름: @ViewData["BoardName"]</h4>
<h4>모집 게시판 번호: @ViewData["BoardNum"]</h4>

@if (ViewBag.IsRecruitSettings)
{
    <p>설정</p>
}
else
{
    <p>미 설정</p>
}

@if (ViewBag.IsClosedRecruit)
{
    <p>종료된 모집입니다.</p>
}
else       
{
    <p>현재 진행중인 모집입니다.</p>

    @if (ViewBag.IsFinishedRecruit)
    {
        <p>모집 마감되었습니다.</p>
    }
    else
    {
        <p>모집 마감전입니다. 모집중입니다.</p>
    }
}


<hr />

<a href="/RecruitManager/">메인</a>

