<h2>캐시 데모</h2>

<h3>캐시 미적용</h3>
<div>
    현재 시간: @DateTime.Now.ToString()
</div>

<h3>캐시 적용</h3>
<cache expires-after="@TimeSpan.FromMinutes(1)">
<div>
    현재 시간: @DateTime.Now.ToString()
</div>
</cache>
