@tagHelperPrefix "th:"

@{
    Layout = null;
}

<th:environment names="Development">
    <h3>현재 페이지는 개발(Development) 환경입니다.</h3>
</th:environment>

<th:environment names="Staging,Production">
    <h3>현재 페이지는 운영(Staging,Production) 환경입니다.</h3>
</th:environment>

