@{ 
    Layout = null;
}
<h1>jQuery Ajax를 사용하여 Web API의 GET 및 POST 테스트</h1>
<ul id="lstPerson">
</ul>
<input type="button" name="btnPost" id="btnPost" value="POST 테스트" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () { 
        var API_URL = "/api/PersonService";
        // GET 메서드 테스트
        $.getJSON(API_URL, function (data) {
            $.each(data, function (key, val) { 
                var str = val.id + ", " + val.name;
                $("<li />", { html: str }).appendTo("#lstPerson"); 
            });
        });
        // POST 메서드 테스트
        $("#btnPost").click(function () { 
            var json = '{ "id": "1234", "name": "홍길동"}';
            $.ajax({
                url: API_URL,
                cache: false,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: json,
                statusCode: {
                    200: function (data) {
                        var str = data.id + ", " + data.name;
                        $("<li />", { html: str }).appendTo("#lstPerson");
                    }
                }
            });
        });
    });
</script>
