@addTagHelper *, DotNetNote

<h3>페이징 헬퍼 테스트</h3>

<dnn-paging-helper url="@Context.Request.Path"
                   page-index='Convert.ToInt32(Context.Request.Query["Page"])'
                   page-size="10"
                   record-count="155"
                   search-mode="false" 
                   search-field="Name" 
                   search-query="홍길동">
</dnn-paging-helper>



<dnn-paging-helper url="@Context.Request.Path"
                   page-index='Convert.ToInt32(Context.Request.Query["Page"])'
                   page-size="10"
                   record-count="70"
                   search-mode="true"
                   search-field="Name"
                   search-query="홍길동">
</dnn-paging-helper>



