@{
    Layout = "_LayoutSpa";
    ViewData["Title"] = "AngularNote";
}

@*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>*@
<app>
    <div class="text-center">
        <h1>
            로딩중입니다...
        </h1>
        <br />
        <img src="~/images/ajaxIndicator.gif" />
        <hr />

        <h4>
            Angular 온라인 동영상 강의는
            <a href="http://www.devlec.com">데브렉(http://www.devlec.com)</a>
            에서 제공됩니다.
        </h4>
    </div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
