@{ 
    Layout = null; 
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h3>jQuery Ajax를 사용하여 드롭다운리스트 채우기 with ASP.NET Core</h3>

<h4>변동상태 선택: </h4>
<select id="ddlFluctuationState"></select>

<script>
    $(function () {
        GetFluctuationState();
    });

    function GetFluctuationState() {
        //// 수작업으로 데이터 채우기
        //var data = [{ "Text": "증가", "Value": "0" }, { "Text": "감소", "Value": "1" }];
        //FillFluctuationState(data);
        $.ajax({
            type: "POST",
            url: "/api/FluctuationStateServices/GetFluctuationState",
            dataType: "JSON",
            success: function (data) {
                FillFluctuationState(data);
            }
        });
    }

    /**
     * 변동상태 드롭다운리스트 채우기 
     * @@param data Key와 Value 쌍 
     */
    function FillFluctuationState(data) {
        if (data) {
            for (var i = 0; i < data.length; i++) {
                $("#ddlFluctuationState").append("<option value\"" + data[i].Value + "\">" + data[i].Text + "</option>"); 
            }       
        }
    }
</script>