<div id="divRecentlyNoteList"></div>

@*<script>
    $(function () {
        var API_URL = "/api/NoteService";
        $.getJSON(API_URL, function (data) {
            var noteCommentList = "<ul>";
            $.each(data, function (index, entry) {
                noteCommentList +=
                    "<li><a href=\"/DotNetNote/Details/" + entry.id + "\">" + entry.title.substring(0, 38) + "</a></li>"
            });
            noteCommentList += "</ul>";

            $("#divRecentlyNoteList").html(noteCommentList);
        });
    });
</script>*@

<script>
    $(function () {
        var API_URL = "/api/NoteService";
        $.getJSON(API_URL, function (data) {
            var noteCommentList = "";
            $.each(data, function (index, entry) {
                noteCommentList += '<div class="post_item">' + 
                        '<div class="post_item_text">' + 
                            '<span class="post_date">' +
                                moment(entry.postDate).format('YYYY-MM-DD')
                            + '</span>' +
                            '<span class="post_title">' + 
                                '<a href="/DotNetNote/Details/'
                                    + entry.id + '">' +
                                    entry.title.substring(0, 31).replace(/</, "&lt;")
                                + '</a>' + 
                            '</span>' + 
                        '</div>' + 
                    '</div>'
            });
            noteCommentList += "";

            $("#divRecentlyNoteList").html(noteCommentList);
        });
    });
</script>
