
@{
    ViewData["Title"] = "정오표";
}

<style>
    .panel-body {
        font-size: 13pt;
    }
</style>

<h2>ASP.NET &amp; Core를 다루는 기술 - 정오표</h2>

<div class="alert alert-warning alert-dismissible" role="alert">
    많은 시간 여러 번의 검토를 거쳤지만, 아래와 같은 오탈자가 발생하였습니다.
    <br />
    책 보시는데, 불편을 드려 대단히 죄송합니다.
</div>

<ul>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 22: .NET Native를 .NET Framework로 수정</div>
            <div class="panel-body">

                <div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="collapse-heading-one">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one" aria-expanded="false" aria-controls="collapse-one">
                                    22페이지 1.1.8절의 제목 및 내용 중 .NET Native를 .NET Framework로 수정합니다.
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-one" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-one">
                            <div class="panel-body">
                                1.1.8 .NET Core와 .NET Framework
                                ASP.NET은 윈도 서버의 IIS 웹 서버에서 실행된다. 마이크로소프트는 ‘모바일 우선, 클라우드 우선(Mobile First, Cloud First)’이라는 구호 아래 윈도 서버가 아닌 클라우드에서 실행되는 비윈도 기반 서버에서도 ASP.NET이 실행되도록 2016년 .NET Core라는 새로운 .NET 프레임워크의 경량화 버전을 출시했다. 기존 ASP.NET은 .NET Framework에서 실행되고 새로운 ASP.NET Core는 .NET Core에서 실행되어 두 프레임워크 아래에서 ASP.NET을 개발할 수 있게 구성했다.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="collapse-heading-two">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-two" aria-expanded="true" aria-controls="collapse-two">
                                    22페이지 수정된 1.1.8절의 내용은 아래와 같습니다
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-two" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-two">
                            <div class="panel-body">
                                <img src="~/images/Errata/1_1_8.png" />
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="collapse-heading-three">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                                    <small>
                                        내용에 대한 제보를 해주신 정성태 MVP님께 감사드립니다.
                                        <a href="http://www.dotnetnote.com/DotNetNote/Details/1023">
                                            http://www.dotnetnote.com/DotNetNote/Details/1023
                                        </a>
                                    </small>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-three">
                            <div class="panel-body">
                                <a href="http://www.dotnetnote.com/DotNetNote/Details/1023">
                                    http://www.dotnetnote.com/DotNetNote/Details/1023
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 35: devenv 명령어</div>
            <div class="panel-body">
                Visual Studio 2017로 버전이 올라서면서 기존에 사용해오던 devenv 명령어를 사용할 수 없게 되었습니다.
                Visual Studio 2017을 실행할 때에는 시작 버튼 클릭 후 모든 앱에서 Visual Studio 2017을 검색 후 사용하면 됩니다.
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 36: 메뉴 이름 변경</div>
            <div class="panel-body">
                4.<br />
                ASP.NET Web Application
                (<span style="color:red;">Net</span> Framework)<br />
                -에서-<br />
                ASP.NET Web Application (.NET Framework)<br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 196: Substitution 컨트롤 보충 설명</div>
            <div class="panel-body">
                다음 링크를 통해서 정성태 MVP님께서 Substitution 컨트롤의 실행에 대한 보충 설명을 해주셨습니다. 감사합니다.
                <a href="http://www.sysnet.pe.kr/2/0/11107">http://www.sysnet.pe.kr/2/0/11107</a>
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 297</div>
            <div class="panel-body">
                DataSet 클래스: 메모리 상의 데이터베이스(Datatbase)로 Select와 같은 결괏값을 저장<br />
                -에서-<br />
                DataSet 클래스: 메모리 상의 데이터베이스(Database)로 Select와 같은 결괏값을 저장<br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 305 제일 하단 줄</div>
            <div class="panel-body">
                "Integrated Srcurity=True;"<br />
                -에서-<br />
                "Integrated Security=True;"<br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 440: LoginState 컨트롤 -&gt; LoginStatus 컨트롤</div>
            <div class="panel-body">
                LoginState 컨트롤<br />
                -에서-<br />
                LoginStatus 컨트롤<br />
                -으로-<br />
                <hr />
                <small>
                    다음 링크를 통해서 정성태 MVP님께서 오탈자 제보를 해주셨습니다. 감사합니다. <br />
                    <a href="http://www.dotnetnote.com/DotNetNote/Details/1029">http://www.dotnetnote.com/DotNetNote/Details/1029</a>
                </small>
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 510: 에러 메시지 내용 수정</div>
            <div class="panel-body">
                [EmailAddress(ErrorMessage = "이메일을 정확인 입력하세요.")]<br />
                -에서-<br />
                [EmailAddress(ErrorMessage = "* 이메일을 정확히 입력하세요.")]<br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 650: 명령어 설명에서 콤마(,) 제거</div>
            <div class="panel-body">
                나를 제외하고 출력:<br />
                – Clients.Group("그룹명", Context.<span style="color:red;">,</span>ConnectionId).doWork("내용");<br />

                -에서-<br />

                나를 제외하고 출력:<br />
                – Clients.Group("그룹명", Context.ConnectionId).doWork("내용");<br />
                -으로-<br />

            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 660: 파일명(Index) 추가</div>
            <div class="panel-body">
                (18) 웹 프로젝트에 Chat 폴더를 생성하고 .html 페이지를 추가한다.<br />
                -에서-<br />

                (18) 웹 프로젝트에 Chat 폴더를 생성하고 <span style="color:red;">Index</span>.html 페이지를 추가한다.<br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 667: .NET Native -&gt; .NET Framework</div>
            <div class="panel-body">
                23.5.2절의 내용 중 <br />
                .NET Native를 모두 .NET Framework로 내용 정정합니다.
                <hr />
                <small>
                    다음 링크를 통해서 정성태 MVP님께서 오탈자 제보를 해주셨습니다. 감사합니다. <br />
                    <a href="http://www.dotnetnote.com/DotNetNote/Details/1030">http://www.dotnetnote.com/DotNetNote/Details/1030</a>
                </small>
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 706: app.UserStaticFiles() -&gt; app.UseStaticFiles()</div>
            <div class="panel-body">
                706페이지 3번째 줄에서 <br />
                app.UserStaticFiles()<br />
                -에서-<br />
                app.UseStaticFiles()<br />
                -으로-<br />
                <hr />
                <small>
                    다음 링크를 통해서 정성태 MVP님께서 오탈자 제보를 해주셨습니다. 감사합니다. <br />
                    <a href="http://www.dotnetnote.com/DotNetNote/Details/1031">http://www.dotnetnote.com/DotNetNote/Details/1031</a>
                </small>
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 709: 24.11 설명과 그림 제목의 UseWelcomPage를 UseWelcomePage로 </div>
            <div class="panel-body">
                UseWelcomPage() 미들웨어가 실행되면<br />
                -에서-<br />
                UseWelcomePage() 미들웨어가 실행되면<br />
                -으로-<br />
                <hr />
                그림 24-15 UseWelcomPage() 실행결과<br />
                -에서-<br />
                그림 24-15 UseWelcomePage() 실행결과<br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 921: DefatultConnection -&gt; DefaultConnection</div>
            <div class="panel-body">
                (2) 데이터베이스 연결 문자열을 DotNetNote 프로젝트 루트에 있는 appsettings.json 파일에 기록하자. 앞서 생성 또는 테이블을 추가한 로컬DB의 DotNetNote 데이터베이스에 대한 정보를 프로젝트 루트에 있는 appsettings.json 파일에 ConnectionStrings:Defa<span style="color:red;">t</span>ultConnection 항목으로 기록한다. <br />
                -에서-<br />

                (2) 데이터베이스 연결 문자열을 DotNetNote 프로젝트 루트에 있는 appsettings.json 파일에 기록하자. 앞서 생성 또는 테이블을 추가한 로컬DB의 DotNetNote 데이터베이스에 대한 정보를 프로젝트 루트에 있는 appsettings.json 파일에 ConnectionStrings:DefaultConnection 항목으로 기록한다. <br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 923: 2. ... AddTech와 GetTeches 메서드 ... -&gt; ... AddTech와 GetTechs 메서드 ...</div>
            <div class="panel-body">
                설명 글에는 GetTech<span style="color:red;">e</span>s 메서드로 설명하였지만, 실제 소스 코드에는 GetTechs()로 작성함
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 947: services.AddTransitent -&gt; services.AddTransient</div>
            <div class="panel-body">
                (6) ... 다음 코드처럼 services.AddTranstient&lt;인터페이스, 클래스&gt;() 형태로 입력한다.<br />
                -에서-<br />

                (6) ... 다음 코드처럼 services.AddTransient&lt;인터페이스, 클래스&gt;() 형태로 입력한다.<br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 980: DefatultConnection -&gt; DefaultConnection</div>
            <div class="panel-body">
                (2) 참고로, ConnectionStrings:Defa<span style="color:red;">t</span>ultConnection 항목을 그대로 사용해도 된다.<br />
                -에서-<br />

                (2) 참고로, ConnectionStrings:DefaultConnection 항목을 그대로 사용해도 된다.<br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 1025: 에러 메시지 내용 수정</div>
            <div class="panel-body">
                [EmailAddress(ErrorMessage = "이메일을 정확인 입력하세요.")]<br />
                -에서-<br />
                [EmailAddress(ErrorMessage = "* 이메일을 정확히 입력하세요.")]<br />
                -으로-<br />
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 1086: @@m.Id -&gt; @@m.BoardId</div>
            <div class="panel-body">
                7번 순서의 소스 코드 내용 중 <br />
                @@m.Id를 @@m.BoardId로 수정하겠습니다.
                <hr />
                <small>
                    다음 링크를 통해서 정성태 MVP님께서 오탈자 제보를 해주셨습니다. 감사합니다. <br />
                    <a href="http://www.dotnetnote.com/DotNetNote/Details/1032">http://www.dotnetnote.com/DotNetNote/Details/1032</a>
                </small>
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">p 1089: @@m.Id -&gt; @@m.BoardId</div>
            <div class="panel-body">
                11번 순서의 소스 코드 내용 중 <br />
                @@m.Id를 @@m.BoardId로 수정하겠습니다.
                <hr />
                <small>
                    다음 링크를 통해서 정성태 MVP님께서 오탈자 제보를 해주셨습니다. 감사합니다. <br />
                    <a href="http://www.dotnetnote.com/DotNetNote/Details/1032">http://www.dotnetnote.com/DotNetNote/Details/1032</a>
                </small>
            </div>
        </div>
    </li>
</ul>
