@model List<MovieViewModel>

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>영화 리스트</title>
    <style>
        table {
            border-collapse:collapse;
        }
        table th, table td {
            border: 1px solid black;
            padding: 10px; 
        }
    </style>
</head>
<body>
    <h1>영화 리스트</h1>
    <table id="movieLists">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>개봉일</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@movie.CreationDate.Year.ToString()</td>
            </tr>
        }
    </table>
</body>
</html>
