@using AttendeeApp.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "참여자 리스트";
    Layout = "_Layout";
}

@model List<Attendee>

<h1>참여자 리스트입니다.</h1>

<a href="/Modules/Attendee/Create" class="btn btn-info">참가 등록하기</a>
<hr />

<ul>
    @foreach (var a in Model)
    {
        <li>@a.Id, @a.Name</li>
    }
</ul>
