@{
    Layout = null;
}

<h1>레이저 표현식(구문) 학습</h1>

<h2>변수 선언 및 주석</h2>
@{ var sum = 1234; }
@{
    var msg = "안녕하세요.";
    var file = @"c:\ASP.NET\";
    var quote = @"안녕하세요. ""ASP.NET Core"" ";
}

<h2>인라인 표현식</h2>
<p>합계: @sum, 메시지: @msg</p>
<p>경로: @file, @quote</p>

<div>
    이메일: aspnet@dotnetkorea.com, a@("@")a.com
</div>
<div>
    트위터: @@aspnet
</div>

<h2>API 출력</h2>
<div>
    @DateTime.Now.ToString()
</div>
