<h2>제품 등록</h2>

<form action="/Goods/Create" method="post">
    제품명: 
    <input type="text" name="goodsName" value="" />
    <br />
    제품소개:
    <input type="text" name="goodsDescription" value="" />
    <br />
    <input type="submit" name="btnSave" value="저장" />
    <a href="/Goods/Index">취소</a>
</form>
