<style>
    #wrap {
        width: 100%;
        height: 100%;
    }

    #dim {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;
        z-index: 9;
    }

    .contents {
        width: 1000px;
        height: auto;
        margin: 0 auto;
    }

    .mainBoard {
        padding-top: 40px;
    }

        .mainBoard .util {
            width: 100%;
            height: 40px;
            background: #f3f3f3;
            text-align: right;
            line-height: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #666;
            vertical-align: middle;
        }

            .mainBoard .util > span {
                color: #4db848;
            }

            .mainBoard .util > .prev {
                width: 13px;
                height: 13px;
                font-size: 0;
                background: url(/assets/images/btn_prev.png) no-repeat center center;
                vertical-align: 7px;
                position: relative;
                margin-right: 10px;
                margin-left: 16px;
            }

                .mainBoard .util > .prev:after {
                    content: "|";
                    width: 1px;
                    height: 15px;
                    background: #ddd;
                    position: absolute;
                    top: 0px;
                    left: 23px;
                }

            .mainBoard .util > .next {
                width: 13px;
                height: 13px;
                font-size: 0;
                background: url(/assets/images/btn_next.png) no-repeat center center;
                vertical-align: 7px;
                margin-left: 10px;
            }

            .mainBoard .util > .btnMore {
                display: inline-block;
                width: 40px;
                height: 40px;
                font-size: 0;
                background: url(/assets/images/btn_more.png) no-repeat center center;
                margin-left: 10px;
                vertical-align: 26px;
            }

        .mainBoard .list {
            width: 100%;
            height: auto;
            border-top: 2px solid #333;
            border-bottom: 1px solid #333;
        }

            .mainBoard .list > dt {
                width: 100%;
                height: 120px;
                padding: 18px 0;
                overflow: hidden;
            }

                .mainBoard .list > dt .img {
                    width: 240px;
                    height: 120px;
                    float: left;
                    background: #ddd;
                }

                .mainBoard .list > dt .text {
                    width: 740px;
                    height: 120px;
                    overflow: hidden;
                    font-size: 13px;
                    color: #777;
                    line-height: 18px;
                    float: right;
                }

                    .mainBoard .list > dt .text > strong {
                        display: block;
                        width: 100%;
                        height: auto;
                        font-size: 16px;
                        color: #333;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 15px;
                    }

            .mainBoard .list > dd {
                border-top: 1px solid #ddd;
            }

                .mainBoard .list > dd > a {
                    display: block;
                    width: 100%;
                    height: 49px;
                    line-height: 49px;
                }

                    .mainBoard .list > dd > a > .tit {
                        width: 88%;
                        height: 49px;
                        float: left;
                        font-size: 14px;
                        color: #333;
                        line-height: 49px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .mainBoard .list > dd > a > .date {
                        width: 12%;
                        height: 49px;
                        float: right;
                        font-size: 13px;
                        color: #999;
                        line-height: 49px;
                        text-align: right;
                    }



    #dnnMainIndexClose {
        width: 33px;
        height: 33px;
        font-size: 0;
        background: url(/assets/images/btn_pop_close.png) no-repeat;
        position: absolute;
        top: 30px;
        right: 30px;
    }

    #dnnMainIndex.on {
        left: 0;
    }

    #dnnMainIndex .contWrap {
        width: 100%;
        height: auto;
    }

        #dnnMainIndex .contWrap .title {
            width: 100%;
            height: auto;
            font-size: 40px;
            font-weight: 600;
            color: #333;
            text-align: center;
            padding-top: 74px;
            position: relative;
            text-transform: uppercase;
        }

    #dnnMainIndex .table {
        width: 100%;
        height: auto;
        border-top: 2px solid #333;
        border-bottom: 1px solid #333;
    }

        #dnnMainIndex .table table {
            width: 100%;
        }

        #dnnMainIndex .table thead th {
            background: #f3f3f3;
            height: 59px;
            font-size: 16px;
            color: #333;
            text-align: center;
        }

            #dnnMainIndex .table thead th.white {
                color: #fff;
            }

        #dnnMainIndex .table tbody td {
            border-top: 1px solid #ddd;
            height: 59px;
        }

            #dnnMainIndex .table tbody td.num {
                font-size: 14px;
                color: #999;
                text-align: center;
            }

            #dnnMainIndex .table tbody td.tit a {
                display: inline-block;
                width: 80%;
                font-size: 14px;
                color: #333;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 18px;
            }

            #dnnMainIndex .table tbody td .file {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 0;
                background: url(/healthCare/images/icon_file.png) no-repeat center center;
            }

            #dnnMainIndex .table tbody td.date {
                font-size: 13px;
                color: #999;
                text-align: center;
            }

    #dnnMainIndex .contWrap .view {
        width: 100%;
        height: auto;
        border-top: 2px solid #333;
        margin-top: 40px;
        overflow-y: auto;
        display: none;
    }

        #dnnMainIndex .contWrap .view .tit {
            width: auto;
            height: auto;
            padding: 20px 124px 20px 30px;
            font-size: 14px;
            color: #333;
            line-height: 18px;
            position: relative;
            background: #f3f3f3;
        }

            #dnnMainIndex .contWrap .view .tit > span {
                width: 124px;
                height: auto;
                font-size: 13px;
                color: #999;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -6px;
                text-align: center;
            }

        #dnnMainIndex .contWrap .view .cont {
            width: auto;
            height: 300px;
            padding: 20px 30px;
            border-top: 1px solid #ddd;
            font-size: 13px;
            color: #666;
            line-height: 20px;
            overflow-y: auto;
        }

        #dnnMainIndex .contWrap .view .fileWrap {
            width: 100%;
            height: 59px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #333;
        }

        #dnnMainIndex .contWrap .view .fileTit {
            width: 120px;
            height: 59px;
            font-size: 14px;
            color: #333;
            line-height: 59px;
            float: left;
            text-align: center;
        }

        #dnnMainIndex .contWrap .view .fileCont {
            width: 80%;
            height: 59px;
            float: left;
            font-size: 13px;
            line-height: 59px;
            padding-left: 15px;
        }

            #dnnMainIndex .contWrap .view .fileCont > a {
                display: inline-block;
                color: #666;
                text-decoration: underline;
            }

        #dnnMainIndex .contWrap .view .util {
            width: 100%;
            height: 119px;
            border-bottom: 1px solid #333;
        }

            #dnnMainIndex .contWrap .view .util > li {
                width: auto;
                padding-left: 80px;
                height: 59px;
                border-top: 1px solid #ddd;
            }

                #dnnMainIndex .contWrap .view .util > li > a {
                    display: block;
                    width: 100%;
                    height: 59px;
                    font-size: 14px;
                    color: #333;
                    line-height: 59px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                #dnnMainIndex .contWrap .view .util > li:first-child {
                    border-top: 0;
                    background: url(/assets/images/icon_arr_up.png) no-repeat 34px 26px;
                }

                #dnnMainIndex .contWrap .view .util > li:last-child {
                    background: url(/assets/images/icon_arr_down.png) no-repeat 34px 26px;
                }
</style>

<div id="wrap">
    <div id="dim"></div>

    <div style="margin-top: 100px;" class="text-center">
        <h3>공지사항</h3>
    </div>

    <!-- mainBoard -->
    <section class="contents mainBoard">
        <div class="util">
            <span></span> /
            <i style="font-style:normal;"></i>
            <button class="prev">prev</button>
            <button class="next">next</button>
            <a href="#" class="btnMore">more</a>
        </div>
        <dl class="list"></dl>
    </section>
    <!--// mainBoard -->
    <!-- dnnMainIndex -->
    <div id="dnnMainIndex">
        <div class="contWrap">
            <p class="title">Notice</p>
            <!-- list -->
            <div class="tableWrap" id="divDotNetNoteIndex">
                <div class="text-right form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" style="display: inline;" id="txtSearch" />
                        <button class="btn btn-secondary" id="btnSearch">검색</button>
                    </div>
                </div>
                <div class="table">
                    <table>
                        <colgroup>
                            <col style="width:8%;" />
                            <col style="width:66%;" />
                            <col style="width:8%;" />
                            <col style="width:8%;" />
                            <col style="width:8%;" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>TITLE</th>
                                <th></th>
                                <th>DATE</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="page mePager"></div>
                <div class="text-right">
                    <input type="button" id="btnAdd" name="btnAdd" value="추가(레이어)" class="btn btn-primary" />
                    <input type="button" id="btnAddWithPopup" name="btnAddWithPopup" value="추가(팝업)" class="btn btn-primary" />
                </div>
                <div id="pnlInsert" style="display: none;">
                    제목:
                    내용:
                    작성자:
                    <hr />
                    <div class="text-right">
                        <input type="button" id="btnCancel" name="btnCancel" value="취소" class="btn btn-secondary" />
                    </div>
                </div>
            </div>
            <!--// list -->
            <!-- view -->
            <div class="view" id="divDotNetNoteView">
                <div class="tit">&nbsp;</div>
                <div class="cont">&nbsp;</div>
                <div class="fileWrap">
                    <div class="fileTit">Attachment</div>
                    <div class="fileCont">&nbsp;</div>
                </div>
                <ul class="util" style="list-style: none;">
                    <li class="prev">&nbsp;</li>
                    <li class="next">&nbsp;</li>
                </ul>
                <div class="btnWrap text-right">
                    <button class="btnBlack btn btn-secondary">List</button>
                </div>
            </div>
            <!--// view -->
        </div>
    </div>
    <!--// dnnMainIndex -->
</div>

<link href="~/lib/bootstrap3/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/bootstrap3/js/bootstrap.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>

<!-- dnnCreateForm modal block -->
<div id="dnnCreateForm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">데이터 등록하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmDotNetNoteCreate" name="frmDotNetNoteCreate">

                    <div class="form-group row" id="divId" style="display: none;">
                        <label for="id" class="col-sm-3 col-form-label">번호</label>
                        <div class="col-sm-9">
                            <input id="id" name="id" type="text" class="form-control" required maxlength="100" value="-1">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">이름</label>
                        <div class="col-sm-9">
                            <input id="name" name="name" type="text" class="form-control" required maxlength="100">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-3 col-form-label">제목</label>
                        <div class="col-sm-9">
                            <input id="title" name="title" type="text" class="form-control" required maxlength="100">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="content" class="col-sm-3 col-form-label">내용</label>
                        <div class="col-sm-9">
                            <input id="content" name="content" type="text" class="form-control" required maxlength="100">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">암호</label>
                        <div class="col-sm-9">
                            <input id="password" name="password" type="text" class="form-control" required maxlength="100">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btnSave">등록</button>
            </div>
        </div>
    </div>
</div>
<!-- /dnnCreateForm modal block -->



<script src="~/Scripts/DotNetNote.js?@DateTime.Now.ToString()"></script>
<script>
    // 공지사항을 초기화하고 이벤트 핸들러를 설정합니다.
    loginNotice.renderMainList();
    loginNotice.renderPopupList();
    $(".mainBoard > .util > button").click(loginNotice.moveMainList);
    $(".mainBoard > .util > .btnMore").click(loginNotice.showPopupList);
    $("#dnnMainIndex .page").on("click", "button", loginNotice.movePopupList);

    // [2] 검색 버튼 이벤트 처리기
    $("#btnSearch").click(function (event) {
        loginNotice.renderPopupList();
    });

    // [3] 검색 텍스트박스 엔터 이벤트 처리기 
    $("#txtSearch").keydown(function (event) {
        if (event.keyCode == 13) {
            loginNotice.renderPopupList();
        }
    });

    // 
    $("#dnnMainIndex .contWrap .view .btnWrap button").click(function () {
        $("#divDotNetNoteIndex").show();
        $("#divDotNetNoteView").hide();
    });

    $("#btnAdd").click(function () {
        $("#pnlInsert").show();
    });
    $("#btnAddWithPopup").click(function () {
        $("#id").val(-1);
        $("#divId").hide(); // 번호 영역은 숨기고 -1 전달하기
        $("#btnSave").text("등록");
        $("#dnnCreateForm").modal('show'); // 입력 및 수정 폼 모달 창 열기
    });
    $("#btnCancel").click(function () {
        $("#pnlInsert").hide();
    });



    /***************************************************************************************************************************************************************************************/
    // 저장 버튼 Click 이벤트 핸들러 설정
    $("#btnSave").click(function (e, from) {

        if ($("#frmDotNetNoteCreate").valid()) {

            //[a] 데이터 받기
            var name = $('#name').val();
            var title = $('#title').val();

            //[b] JSON 개체로 묶기 : " + 변수 + "
            //var json = "{name:\"" + name + "\", title:\"" + title + "\"}";

            //[b] jQuery 플러그인 사용: serializeObject()
            var json = JSON.stringify($('#frmDotNetNoteCreate').serializeObject());

            console.log(json);

            //[c] 전송
            $.ajax({
                url: "/api/DotNetNote/PostNote",
                cache: false,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: json,
                statusCode: {
                    201: function (data) {

                        // Id를 가져옵니다.
                        var id = parseInt($("#id").val(), 10);

                        if (id < 0) {
                            alert("저장되었습니다.");
                        }
                        else {
                            alert("수정되었습니다.");
                        }

                        $("#frmDotNetNoteCreate")[0].reset();
                        $("#dnnCreateForm").modal("hide");
                        loginNotice.renderPopupList();

                    }
                }
            })
                .done(function (data, textStatus, jqXHR) {
                    console.log(data.modified);

                    if (data.modified == false) {
                        alert("수정되지 않았습니다.");
                    }

                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                });

        }
    });
    /***************************************************************************************************************************************************************************************/




    (function ($) {
        $.fn.serializeObject = function () {
            "use strict";

            var result = {};
            var extend = function (i, element) {
                var node = result[element.name];

                // If node with same name exists already, need to convert it to an array as it
                // is a multi-value field (i.e., checkboxes)

                if ('undefined' !== typeof node && node !== null) {
                    if ($.isArray(node)) {
                        node.push(element.value);
                    } else {
                        result[element.name] = [node, element.value];
                    }
                } else {
                    result[element.name] = element.value;
                }
            };

            $.each(this.serializeArray(), extend);
            return result;
        };
    })(jQuery);


</script>
