

<h1>CKEditor 설정</h1>


<form action="/CkEditorDemo/Index" method="post">

<textarea id="editor" name="editor"></textarea>

<script src="~/scripts/ckeditor/ckeditor.js"></script>

<script>
    CKEDITOR.replace('editor', { height: '600px', filebrowserImageUploadUrl: '/CkEditorDemo/UploadImage/' });
</script>

    <input type="submit" name="name" value="전송" />

</form>

@Html.Raw(ViewBag.Text)
