<div id="divRecentlyCommentList"></div>

@*<script>
    $(function () {
        var WEB_API_URL = "/api/NoteCommentService";
        $.getJSON(WEB_API_URL, function (data) {
            var noteCommentList = "<ul>";
            $.each(data, function (index, entry) {
                noteCommentList +=
                    "<li><a href=\"/DotNetNote/Details/" + entry.boardId + "\">"
                    + entry.opinion.substring(0, 38) + "</a></li>"
            });
            noteCommentList += "</ul>";

            $("#divRecentlyCommentList").html(noteCommentList);
        });
    });
</script>*@

<script>
    $(function () {
        var API_URL = "/api/NoteCommentService";
        $.getJSON(API_URL, function (data) {
            var noteCommentList = "";
            $.each(data, function (index, entry) {
                noteCommentList += '<div class="post_item">' +
                        '<div class="post_item_text">' +
                            '<span class="post_date" ' +
                            'style="display:inline-block;width:70px;">'
                            + moment(entry.postDate).fromNow() + ' </span>' +
                            '<span class="post_title">' +
                                '<a href="/DotNetNote/Details/'
                                    + entry.boardId + '">' +
                                    entry.opinion.substring(0, 31)
                                + '</a>' +
                            '</span>' +
                        '</div>' +
                    '</div>'
            });
            noteCommentList += "";

            $("#divRecentlyCommentList").html(noteCommentList);
        });
    });
</script>
