@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var variables = ViewBag.Variables as List<Variable>;
}

<ul>
@foreach (var v in variables)
{
    <li>@v.Text - @v.Value</li>
}
</ul>
