
<h1>ASP.NET Core 2.1 개발 환경 구축</h1>
<div>
    <a href="https://youtu.be/d5lYvqfNQyI">ASP.NET Core 2.1 시작하기</a> 강좌를 참고하세요. 
    <hr />
    23장의 내용은 위 강좌로 대체가 가능합니다. 
</div>

<h1>ASP.NET Core 1.1 개발 환경 구축</h1>
<div>
    <a href="/Guide">학습 가이드</a>도 함께 살펴보시기 바랍니다.
</div>

<h2>ASP.NET과 Angular 시작하기(2017년 06월 버전)</h2>

<div>
    2017년 07월 이후로 <em>Angular</em>와 <em>ASP.NET Core</em>를 학습하려면 아래 7개 강좌를 우선으로 참고하기 바랍니다.
</div>

<ol>
    <li><a href="https://youtu.be/9a70w-nw9_c" target="_blank">2017년 7월 버전의 ASP.NET Core 1.X 개발 환경 구축</a></li>
    <li><a href="https://youtu.be/JAac9KULtm8" target="_blank">닷넷 코어 개발 환경 구축 - 2017년 06월 버전</a></li>
    <li><a href="https://youtu.be/Jn20lN91-HY" target="_blank">Angular 4 개발 환경 구축</a></li>
    <li><a href="https://youtu.be/nlXP-9tpgmI" target="_blank">Angular SPA 템플릿 소개</a></li>
    <li><a href="https://youtu.be/gVkiSb5ebG4" target="_blank">ASP.NET 개발 환경 구축 01_Visual Studio 2017 설치</a></li>
    <li><a href="https://youtu.be/bvQrbYT6ufg" target="_blank">ASP.NET 개발 환경 구축 02_ASP.NET 4.X 데모 및 Azure 웹 앱에 게시하기</a></li>
    <li><a href="https://youtu.be/6yJPQ5-j34I" target="_blank">ASP.NET 개발 환경 구축 03_ASP.NET Core 1.X 데모 및 Azure 웹 앱에 게시하기</a></li>
</ol>


<hr />
<em>아래 링크 및 동영상은 이전 버전이므로 참고용으로 보면 됩니다.</em>
<hr />


<h2>ASP.NET Core 1.0 개발 환경 구축(2016년 버전)</h2>

<ol>
    <li>
        <h4>Visual Studio 2015 Community 버전 다운로드 및 설치</h4>
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/mXcjBNgTzzU"
                frameborder="0" allowfullscreen></iframe>
    </li>
    <li>
        <h4>ASP.NET Core 개발 환경 구축</h4>
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/8zbV2JakVA4"
                frameborder="0" allowfullscreen></iframe>
    </li>
</ol>

<p>
    동영상의 내용은 최신 버전으로 계속해서 업데이트할 예정입니다.
</p>

<ul>
    <li>
        <h4>2017년 버전의 초간단 .NET Core 개발 환경 구축</h4>
        <iframe width="560"
                height="315"
                src="https://www.youtube.com/embed/azQEOiR_m8Q"
                frameborder="0" allowfullscreen></iframe>
        <pre>
2017년 버전의 초간단 .NET Core 개발 환경 구축
- https://dot.net
    .NET Core 1.1 SDK
- https://www.visualstudio.com
    Visual Studio Code 
- 콘솔
    dotnet new
    dotnet restore
    dotnet build
    dotnet run
    code . 
- 웹
    dotnet new -t Web
    dotnet restore
    dotnet run
    explorer http://localhost:5000/
    code .
        </pre>
    </li>
</ul>

<hr />

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                학습을 위한 필수 개발 환경 구축(Visual Studio 2017 버전 기준)
            </div>
            <div class="panel-body" style="height:100px;">
                <ol>
                    <li>
                        <a href="https://youtu.be/5wTIUs8gnh0">
                            Visual Studio 2017 설치: 커뮤니티 버전 다운로드 및 설치 그리고 실행하기
                        </a>
                    </li>
                    <li>
                        <a href="https://youtu.be/U2u7XcFf_vg">
                            Visual Studio 2017을 사용하여 ASP.NET Core 웹 응용프로그램 개발하기
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                참고: 학습을 위한 필수 개발 환경 구축(모든 내용은 책에서 진행됩니다.)
            </div>
            <div class="panel-body" style="height:100px;">
                <ol>
                    <li>
                        <a href="https://youtu.be/mXcjBNgTzzU">
                            참고: Visual Studio Community 2015 한글판 다운로드 및 설치
                            그리고 실행 - Windows 10 환경에서 설치
                        </a>
                    </li>
                    <li>
                        <a href="https://youtu.be/8zbV2JakVA4">
                            참고: ASP.NET Core 1.0 개발 환경 구축 및
                            Hello World(처음 시작하기)
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>