@model DotNetNote.Models.Notifications.MyNotification

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<h3>My Page</h3>

<input type="hidden" id="hdnUserId" value="@ViewBag.UserId" />

<ul>
    <li>@Model.Id - @Model.Message</li>
</ul>

<script>
    $(function () {
        var userId = parseInt($("#hdnUserId").val(), 10);

        // Web API를 호출하여, 알림 확인 처리
        $.get("/api/CompleteNotification?userId=" + userId)
            .done(function (data) {
                if (data) {
                    console.log("알림 확인 처리 완료");
                }
            });

    });
</script>
