@using DotNetNote.Models.Categories
@model List<Category>

@{
    Layout = null;
}

<h1>카테고리 리스트</h1>

<ul>
    @foreach (var category in Model)
    {
        <li>@category.CategoryId - @category.CategoryName</li>
    }
</ul>
