

<h2>Chart 사용 샘플 웹사이트</h2>

<p>
    다음 경로는 ASP.NET Chart 컨트롤에 대한 사용법과 직접 실행해서
    구현된 모양을 살펴볼 수 있는 샘플 웹사이트다.
    사이트를 방문하여 다운로드 항목에 있는 샘플 소스를 내려받는다.
    내려받은 Samples Environments for Microsoft Chart Controls.zip 파일의
    압축을 푼 다음 Visual Studio로 해당 폴더를 프로젝트 열기로 연 후
    Default.aspx 페이지를 실행하면
    ASP.NET Chart 컨트롤에 대한 여러 가지 사용 예를 카테고리 별로 살펴볼 수 있다.
    이 자료는 아주 유용하다.
</p>

<p>
    <a href="https://code.msdn.microsoft.com/Samples-Environments-for-b01e9c61">
        https://code.msdn.microsoft.com/Samples-Environments-for-b01e9c61
    </a>
</p>
