@model List<Twelve>

@{ 
    Layout = null;
}

<h3>@ViewBag.ParentId에 해당하는 12개 레코드</h3>
<ul>
    @foreach (var t in Model)
    {
    <li>@t.ParentId - @t.MonthNumber</li>
    }
</ul>

<h3>[1] 12개월 데이터로 초기화하기</h3>

