@using Microsoft.FluentUI.AspNetCore.Components

<h3>Fluent Button Test Component</h3>

<FluentCard Width="400px" Height="250px">
    <h2>Hello World!</h2>
    <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>
