<div class="container">
    <div class="row">
        <div class="col-md-12">
            @*<h4>Blazor Server 컴포넌트 들어오는 곳</h4>*@

            <h5>닷넷노트 강의 소스 버전 모음</h5>
            <ul style="list-style:none;">
                <li>
                    <a href="https://github.com/VisualAcademy/AspNetCoreBook/tree/master/DotNetNote" target="_blank">DotNetNote V1.0</a> with Visual Studio 2015
                </li>
                <li>
                    <a href="https://github.com/VisualAcademy/DotNetNoteV21" target="_blank">DotNetNote V2.1</a> with Visual Studio 2017
                </li>
                <li>
                    <a href="https://github.com/VisualAcademy/DotNetNoteV31" target="_blank">DotNetNote V3.1</a> with Visual Studio 2019
                </li>
                <li>
                    <a href="https://github.com/VisualAcademy/DotNetNote.V5" target="_blank">DotNetNote V5.0</a> with Visual Studio 2019
                </li>
                <li>
                    <a href="https://github.com/VisualAcademy/DotNetNote" target="_blank">DotNetNote V6.0</a> with Visual Studio 2022
                </li>
            </ul>

        </div>
    </div>
</div>

@code {

}
