
<h2>ASP.NET과 Angular 시작하기(2017년 07월 버전)</h2>

<div>
    ASP.NET 웹 프로젝트를 Azure 웹 앱에 게시해서 사용하는 방법은 아래 6번과 7번 강좌를 우선으로 참고하기 바랍니다. 
</div>

<ol>
    <li><a href="https://youtu.be/9a70w-nw9_c" target="_blank">2017년 7월 버전의 ASP.NET Core 1.X 개발 환경 구축</a></li>
    <li><a href="https://youtu.be/JAac9KULtm8" target="_blank">닷넷 코어 개발 환경 구축 - 2017년 06월 버전</a></li>
    <li><a href="https://youtu.be/Jn20lN91-HY" target="_blank">Angular 4 개발 환경 구축</a></li>
    <li><a href="https://youtu.be/nlXP-9tpgmI" target="_blank">Angular SPA 템플릿 소개</a></li>
    <li><a href="https://youtu.be/gVkiSb5ebG4" target="_blank">ASP.NET 개발 환경 구축 01_Visual Studio 2017 설치</a></li>
    <li><a href="https://youtu.be/bvQrbYT6ufg" target="_blank">ASP.NET 개발 환경 구축 02_ASP.NET 4.X 데모 및 Azure 웹 앱에 게시하기</a></li>
    <li><a href="https://youtu.be/6yJPQ5-j34I" target="_blank">ASP.NET 개발 환경 구축 03_ASP.NET Core 1.X 데모 및 Azure 웹 앱에 게시하기</a></li>
</ol>

<hr />

<h2>ASP.NET Core 1.0 프로젝트를 Azure 웹 앱에 게시하기</h2>

<ol>
    <li>
        <h4>Azure Web App 및 SQL 데이터베이스 생성</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sWkm5y4lVjs" frameborder="0" allowfullscreen></iframe>
    </li>
    <li>
        <h4>Azure Web App에 프로젝트 게시</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9V0uivEO2BM" frameborder="0" allowfullscreen></iframe>
    </li>
</ol>

<hr />

<h2>Azure의 가상 컴퓨터(VM)에 ASP.NET 프로젝트 게시하기</h2>

<ol>
    <li><a href="https://youtu.be/f5IAZGez9wE" target="_blank">Azure_Azure에 Windows Server 2008 R2 가상 컴퓨터 생성하고 접속하기</a></li>
    <li><a href="https://youtu.be/e_fgLoh3B7w" target="_blank">Azure_Windows Server 2008 R2에 IIS 설치 및 기본 웹 페이지 만들고 외부에서 접속하도록 설정하기</a></li>
    <li><a href="https://youtu.be/gFn2hI02EBs" target="_blank">Windows Server 2008 R2에 ASP.NET Core 프로젝트 게시 및 실행하기</a></li>
    <li><a href="https://youtu.be/VCPisAP8sDs" target="_blank">Windows Server 2008 R2에 IIS 웹 서버 설치 후 ASP.NET Core 프로젝트 게시하여 실행하기</a></li>
</ol>

<p>
    동영상의 내용은 최신 버전으로 계속해서 업데이트할 예정입니다.
</p>
