@{
    Layout = null;
}

@model GoodsBase 

<h2>제품 상세 보기</h2>

<form action="/Goods/Edit" method="post">
    제품번호: @Model.GoodsId
    <input type="hidden" name="goodsId" value="@Model.GoodsId" />
    <br />
    제품명:
    <input type="text" name="goodsName" value="@Model.GoodsName" />
    <br />
    제품소개:
    <input type="text" name="goodsDescription" value="@Model.GoodsDescription" />
    <br />
    <input type="submit" name="btnSave" value="수정" />
    <a href="/Goods/Delete/@Model.GoodsId">삭제</a>
    <a href="/Goods/Index">리스트</a>
</form>
