<div class="col-md-12 event-countdown text-center mb-3">
    <h4 class="countdown-intro mb-2 text-center mb-3">Microsoft BUILD 2025 행사까지 남은 시간</h4>
    <div id="countdown-box" class="countdown-box"></div>
</div>

<script>
    var target_date = new Date("2025-05-19").getTime();

    var days, hours, minutes, seconds;

    var countdown = document.getElementById("countdown-box");
    var days_span = document.createElement("SPAN");
    days_span.className = 'days';
    countdown.appendChild(days_span);
    var hours_span = document.createElement("SPAN");
    hours_span.className = 'hours';
    countdown.appendChild(hours_span);
    var minutes_span = document.createElement("SPAN");
    minutes_span.className = 'minutes';
    countdown.appendChild(minutes_span);
    var secs_span = document.createElement("SPAN");
    secs_span.className = 'secs';
    countdown.appendChild(secs_span);

    setInterval(function () {
        var current_date = new Date().getTime();
        var seconds_left = (target_date - current_date) / 1000;

        days = parseInt(seconds_left / 86400);
        seconds_left = seconds_left % 86400;

        hours = parseInt(seconds_left / 3600);
        seconds_left = seconds_left % 3600;

        minutes = parseInt(seconds_left / 60);
        seconds = parseInt(seconds_left % 60);

        days_span.innerHTML = '<span class="number">' + days + '</span>' + '<span class="unit">일</span>';
        hours_span.innerHTML = '<span class="number">' + String(hours).padStart(2, '0') + '</span>' + '<span class="unit">시간</span>';
        minutes_span.innerHTML = '<span class="number">' + String(minutes).padStart(2, '0') + '</span>' + '<span class="unit">분</span>';
        secs_span.innerHTML = '<span class="number">' + String(seconds).padStart(2, '0') + '</span>' + '<span class="unit">초</span>';

    }, 1000);
</script>
