@{
    ViewData["Title"] = ViewBag.SiteName;
}


<div id="carouselIndicators" class="carousel slide mb-3" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/images/ASP-NET_Book.png" alt="ASP.NET Core">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p>
                    <span style="color:black;">"ASP.NET &amp; Core를 다루는 기술"</span><br />
                    <a class="btn btn-link" href="http://www.yes24.com/24/goods/32692615">
                        온라인 서점
                    </a>
                    <a class="btn btn-link" href="https://github.com/VisualAcademy/AspNetCoreBook">
                        <i class="fa fa-download"></i> 전체 소스 코드(GitHub)
                    </a>
                    <a class="btn btn-link" href="https://github.com/VisualAcademy/DotNetNote" target="_blank">
                        <i class="fa fa-download"></i> 닷넷노트 최신 소스
                    </a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/images/banner1.svg" alt="ASP.NET Core">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p>
                    이 사이트는 ASP.NET Core 7.0을 사용하여 제작되었습니다.<br />
                    <a class="btn btn-link" href="https://dot.net">Learn More</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/images/banner2.svg" alt="ASP.NET Core">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p>
                    Visual Studio 2022 Community 버전으로 개발되었습니다.<br />
                    <a class="btn btn-link" href="https://www.visualstudio.com">Learn More</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/images/banner3.svg" alt="ASP.NET Core">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p>
                    주요 라이브러리는 NuGet, NPM을 사용하여 참조하였습니다.<br />
                    <a class="btn btn-link" href="https://www.nuget.org">Learn More</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/images/banner4.svg" alt="ASP.NET Core">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p>
                    닷넷노트는 Microsoft Azure에서 서비스 중입니다.<br />
                    <a class="btn btn-link" href="https://azure.com">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row">
    <div class="col-md-12 text-center">
        현재 사이트(닷넷노트) 제작에 대한 유료 강의는 다음 링크를 참고하세요.<br />
        <a href="http://www.devlec.com" target="_blank">ASP.NET Core Fundamentals</a>
    </div>
</div>


<div class="row">
    <div class="col-md-12 text-center">
        <a href="https://github.com/VisualAcademy/DotNetNote"
           class="alert-success" target="_blank">
            <h3>
                <i class="fa fa-download"></i>
                닷넷노트 최신 소스 다운로드 <i class="fa fa-download"></i>
            </h3>
        </a>
    </div>
</div>

<div class="row text-center m-5">
    <div class="col-md-12 event-countdown text-center mb-3">
        <h4 class="countdown-intro mb-2 text-center mb-3">.NET Conf 2023 행사까지 남은 시간:</h4>
        <div id="countdown-box" class="countdown-box"></div>
    </div>
</div>

@*블로그 포스트 리스트*@
<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("MainSummaryBlogPostList")
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-12 text-center">
        @*[!] MVC View 페이지에 Blazor 컴포넌트 출력 데모: 네임스페이스 주의 *@
        <component type="typeof(PortfolioList)" render-mode="ServerPrerendered" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-gear fa-spin fa-fw"></i>
            <span class="sprite sprite_notice">
                공지사항
                <i style="font-size:small;">(with ViewComponent)</i>
            </span>
        </h3>
        @await Component.InvokeAsync(
        "MainSummaryByCategory", new { category = "Notice" })
    </div>
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                자유게시판
                <i style="font-size:small;">(with ViewComponent)</i>
            </span>
        </h3>
        @await Component.InvokeAsync(
        "MainSummaryByCategory", new { category = "Free" })
    </div>
</div>
<br />


@*@Html.Partial("~/Views/DotNetNote/_DotNetNoteAngularMainNotice.cshtml")
    <br />*@


<div class="row">
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-gear fa-spin fa-fw"></i>
            <span class="sprite sprite_notice">
                공지사항
                <i style="font-size:small;">(with TagHelper)</i>
            </span>
        </h3>
        <dnn-main-summary category="Notice"></dnn-main-summary>
    </div>
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                자유게시판
                <i style="font-size:small;">(with TagHelper)</i>
            </span>
        </h3>
        <dnn-main-summary category="Free"></dnn-main-summary>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-list-ol"></i>&nbsp;&nbsp;
            <span class="sprite fa-sprite_notice">
                최근 글 리스트
                <i style="font-size:small;">(with MVC Partial View)</i>
            </span>
        </h3>
        @*@Html.Partial("~/Views/DotNetNote/_MainSummary.cshtml"
            , ViewData["RecentPost"])*@
        <partial name="~/Views/DotNetNote/_MainSummary.cshtml" model="ViewBag.RecentPost" />
    </div>
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-indent"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                최근 댓글 리스트
                <i style="font-size:small;">(with MVC Partial View)</i>
            </span>
        </h3>
        @*@Html.Partial("~/Views/DotNetNote/_MainCommentSummary.cshtml"
            , ViewData["RecentComment"])*@
        <partial name="~/Views/DotNetNote/_MainCommentSummary.cshtml" model="ViewBag.RecentComment" />
    </div>
</div>
<br />


@*Angulr 2 앱 출력 영역*@
@*<my-app>Loading...</my-app>*@


<div class="row">
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-table"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                최근 글 리스트
                <i style="font-size:small;">(with ViewComponent)</i>
            </span>
        </h3>
        @await Component.InvokeAsync("WhatsNew")
    </div>
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-table"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                최근 댓글 리스트
                <i style="font-size:small;">(with ViewComponent)</i>
            </span>
        </h3>
        @await Component.InvokeAsync("RecentlyCommentList")
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-table"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                최근 글 리스트
                <i style="font-size:small;">(with Web API + Vue.js)</i>
            </span>
        </h3>
        <partial name="~/Views/DotNetNote/Widgets/_RecentlyNoteListVue.cshtml" />
    </div>
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-table"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                최근 댓글 리스트
                <i style="font-size:small;">(with Web API + Vue.js)</i>
            </span>
        </h3>
        <partial name="~/Views/DotNetNote/Widgets/_RecentlyNoteCommentListVue.cshtml" />
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-table"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                최근 글 리스트
                <i style="font-size:small;">(with Web API + jQuery)</i>
            </span>
        </h3>
        @*@Html.Partial("~/Views/DotNetNote/_RecentlyNoteList.cshtml")*@
        <partial name="~/Views/DotNetNote/_RecentlyNoteList.cshtml" />
    </div>
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-table"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                최근 댓글 리스트
                <i style="font-size:small;">(with Web API + jQuery)</i>
            </span>
        </h3>
        @*@Html.Partial("~/Views/DotNetNote/_RecentlyNoteCommentList.cshtml")*@
        <partial name="~/Views/DotNetNote/_RecentlyNoteCommentList.cshtml" />
    </div>
</div>
<br />

<div class="row" ng-app="DotNetNoteApp">
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-table"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                최근 글 리스트
                <i style="font-size:small;">(with Web API + Angular)</i>
            </span>
        </h3>
        @*@Html.Partial("~/Views/DotNetNote/_RecentlyNoteListWithAngular.cshtml")*@
        <partial name="~/Views/DotNetNote/_RecentlyNoteListWithAngular.cshtml" />
    </div>
    <div class="col-md-6">
        <h3 class="MainSummaryTitle">
            <a class="readMore" asp-controller="DotNetNote" asp-action="Index"
               title="닷넷노트">리스트</a>
            <i class="fa fa-table"></i>&nbsp;&nbsp;
            <span class="sprite sprite_notice">
                최근 댓글 리스트
                <i style="font-size:small;">(with Web API + Angular)</i>
            </span>
        </h3>
        @*@Html.Partial("~/Views/DotNetNote/_RecentlyNoteCommentListWithAngular.cshtml")*@
        <partial name="~/Views/DotNetNote/_RecentlyNoteCommentListWithAngular.cshtml" />
    </div>
</div>
<br />

@await Html.PartialAsync(
    "~/Views/DotNetNote/_NewPhotos.cshtml", ViewData["Photos"])
<br />

<div class="row">
    <div class="col-md-6">
        <h3><i class="fa fa-wrench"></i> 현재 사이트에서 사용된 기술 리스트</h3>
        <h5>ViewComponent 사용 출력하기 데모</h5>
        @await Component.InvokeAsync("TechList")
    </div>
    <div class="col-md-6">
        <h3><i class="fa fa-sitemap"></i> 현재 사이트와 관련된 추천 사이트</h3>
        <h5>ViewComponent 사용 출력하기 데모</h5>
        @await Component.InvokeAsync("SiteList")
    </div>
</div>
<hr />

<div class="text-center">
    <em>
        <a href="@ViewBag.SiteUrl">@ViewBag.SiteName<text>(</text>@ViewBag.SiteUrl@(")")</a> 사이트는
        ASP.NET Core 7.0 데모 사이트입니다.
    </em>
</div>


@*<div class="text-center">
    <em>
    <a href="http://angular.dul.me">앵귤러노트(http://angular.dul.me)</a> 사이트는 ASP.NET Core 6.0 + Angular 9.0 데모 사이트입니다.
    </em>
    </div>*@


<div class="text-center">
    <em>
        아 사이트를 만드는데 필요한 모든 내용은 <a href="http://www.devlec.com">데브렉(http://www.devlec.com)</a>에서 유료 강의로 제공합니다.
    </em>
</div>


@*@await Component.InvokeAsync("Copyright")*@

@section Scripts{

<script>
    var target_date = new Date("2023-11-14").getTime();

    var days, hours, minutes, seconds;

    var countdown =  document.getElementById("countdown-box");
    var days_span = document.createElement("SPAN");
    days_span.className = 'days';
    countdown.appendChild(days_span);
    var hours_span = document.createElement("SPAN");
    hours_span.className = 'hours';
    countdown.appendChild(hours_span);
    var minutes_span = document.createElement("SPAN");
    minutes_span.className = 'minutes';
    countdown.appendChild(minutes_span);
    var secs_span = document.createElement("SPAN");
    secs_span.className = 'secs';
    countdown.appendChild(secs_span);

    setInterval(function () {
        var current_date = new Date().getTime();
        var seconds_left = (target_date - current_date) / 1000;

        days = parseInt(seconds_left / 86400);
        seconds_left = seconds_left % 86400;

        hours = parseInt(seconds_left / 3600);
        seconds_left = seconds_left % 3600;

        minutes = parseInt(seconds_left / 60);
        seconds = parseInt(seconds_left % 60);

        days_span.innerHTML = '<span class="number">' + days + '</span>' + '<span class="unit">일</span>';
        hours_span.innerHTML = '<span class="number">' + hours + '</span>' + '<span class="unit">시간</span>';
        minutes_span.innerHTML = '<span class="number">' + minutes + '</span>' + '<span class="unit">분</span>';
        secs_span.innerHTML = '<span class="number">' + seconds + '</span>' + '<span class="unit">초</span>';

    }, 1000);
</script>

<script src="~/app/DotNetNote/DotNetNoteApp.js"></script>

    @*Blazor Server 사용 가능 설정*@
<script src="/_framework/blazor.server.js"></script>
}
