@{
    Layout = "_LayoutVisualAcademy";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        로컬 소스를 로컬 Git에 추가 후 원격 GitHub에 리포지토리 만들고 푸시(업로드)
    </p>
</div>
