@namespace ApplicationFormBuilder 
@using ApplicationFormBuilder.Sections

<h3>ApplicationFormComponent</h3>

<PersonalInformation></PersonalInformation>

<BusinessInterest></BusinessInterest>

<MaritalInformation></MaritalInformation>

<Residences></Residences>

<MilitaryExperience></MilitaryExperience>
