
<h2>관리자 페이지</h2>

<ul>
    <li>
        <a asp-controller="Admin" asp-action="NoteManager">게시판 관리자 페이지</a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="UserManager">사용자 관리자 페이지</a>
    </li>
    <li>
        <a asp-controller="CommunityCamp" asp-action="ComCampAdmin">
            커뮤니티 캠프 관리자 페이지
        </a>
    </li>
</ul>
