@{
    ViewBag.Title = "Documents Demo";
}
<h2>DocumentsDemo</h2>
<ul>
    <li>Doc Tenant: @ViewBag.DocTenant</li>
    <li>User Tenant (Header): @ViewBag.UserTenant</li>
    <li>State: @ViewBag.State</li>
    <li>CanEdit: @ViewBag.CanEdit</li>
</ul>
