@{ 
    Layout = null;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui-min/jquery-ui.min.js"></script>

<div id="projects">
    <h3>jQuery Core</h3>
    <p>jQuery is a fast, small, and feature-rich JavaScript library...</p>
    <h3>jQuery UI</h3>
    <p>jQuery UI is a curated set of user interface interactions...</p>
    <h3>jQuery Mobile</h3>
    <p>jQuery Mobile is a HTML5-based user interface system...</p>
</div>

<script>
    $("#projects").accordion();
</script>
