

<form asp-action="MultiSelectOption" method="post">

    <input type="text" name="questions" value="101" />
    <select name="answers">
        <option>Yes</option>
        <option>No</option>
    </select>

    <input type="text" name="questions" value="102" />
    <select name="answers">
        <option>Yes</option>
        <option>No</option>
    </select>

    <input type="text" name="questions" value="103" />
    <select name="answers">
        <option>Yes</option>
        <option>No</option>
    </select>

    <input type="submit" name="name" value="전송" />

</form>
