@{
    Layout = null;
}

<h1>
    MyRankingService Web API 테스트
</h1>
<hr />
<span id="lblKor"></span>
<span id="lblEng"></span>
<span id="lblTotal"></span>
<hr />
<ul id="lstStudents"></ul>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () { 
        var API_URL = "/api/MyRankingService";
        $.getJSON(API_URL, function (json) { 
            //[1] 전체 데이터 출력
            console.log(json);

            //[2] subject 데이터 출력
            $("#lblKor").text(json.subject.kor);
            $("#lblEng").text(json.subject.eng);
            $("#lblTotal").text(json.subject.total);

            //[3] students 데이터 출력
            $.each(json.students, function (key, val) { 
                $("<li />", { html: key + ": " + val.id + ", " + val.name + ", " + val.score }).appendTo("#lstStudents");
            });
        });
    });
</script>
