@page "/photolog-demo"

@using Microsoft.AspNetCore.Components.Web

@rendermode InteractiveServer

<h3>Photo Log Demo</h3>

<h4>All Photos</h4>
<Azunt.Web.Components.Pages.PhotoLogs.PhotoLogComponent />

<h4>1. Embedded Mode - Employee 1</h4>
<Azunt.Web.Components.Pages.PhotoLogs.PhotoLogComponent EmployeeId="1" />
