@{ 
    Layout = null;
}

@model List<Hero>

<h1>영웅 캐릭터 리스트</h1>

<a href="/Hero/Create">추가</a>

<ul>
    @foreach (var hero in Model)
    {
        <li>
            <a href="/Hero/Details/@hero.Id">
                @hero.Id  - @hero.Name
            </a>
        </li>
    }
</ul>
