@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>헬퍼 메서드</title>
    <script>
        function CheckForm() {
            var name = document.getElementById("txtName");
            var content = document.getElementById("txtContent");
            if (name.value.length < 1 || content.value.length < 1) {
                window.alert("이름과 내용을 입력하시오.");
                name.focus();
                name.select();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<h2>헬퍼 메서드로 폼 구성</h2>

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("HelperMethod", "FormValidationDemo", new { },
                    FormMethod.Post, false, new
                    {
                        @class = "FormStyle",
                        data_ng_test = "test",
                        onsubmit = "return CheckForm();"
                    }))
{
    <text>이름: </text> @Html.TextBox("txtName")<br />
    <text>내용: </text> @Html.TextBox("txtContent")<br />
    <input type="submit" value="입력" />
}

@if (ViewBag.ResultString != null)
{
    @ViewBag.ResultString
}
</body>
</html>
