@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>폼 유효성 검사</title>
</head>
<body>
<h1>폼 유효성 검사</h1>

<ul>
    <li><a href="#">메인</a></li>
    <li><a href="/FormValidationDemo/Html">HTML 폼 구성</a></li>
    <li><a href="~/FormValidationDemo/HelperMethod">헬퍼 메서드 사용</a></li>
    <li><a href="~/FormValidationDemo/StronglyTypeView">강력한 형식의 뷰</a></li>
    <li><a asp-controller="FormValidationDemo" 
           asp-action="ModelValidation">모델 기반 서버 측 유효성 검사</a></li>
    <li><a asp-controller="FormValidationDemo" 
           asp-action="ClientValidation">클라이언트 측 유효성 검사</a></li>
    <li><a asp-controller="FormValidationDemo" 
           asp-action="TagHelperValidation" >태그 헬퍼</a></li>
</ul>
</body>
</html>
