
<h1>모집 관리자</h1>

<a asp-action="RecruitSettingCreate">생성</a>

<a asp-action="RecruitSettingList">리스트</a>

<hr />

<a href="/RecruitManager/BoardView?BoardName=Recruit&BoardNum=11">
    /Recruit/11
</a>
<br />
<a href="/RecruitManager/BoardView?BoardName=Recruit&BoardNum=22">
    /Recruit/22
</a>
