@model DotNetNote.Models.Exam

<h1> @Model.Name </h1>
<br />
@Html.Hidden("Id", Model.Id)

<form asp-action="Grade">
    @foreach (var question in Model.Questions)
    {
        await Html.RenderPartialAsync("_Question", question); 
    }
    <input type="submit" value="Submit" />
</form>
