@inject Microsoft.Extensions.Options.IOptions<
    DotNetNote.Settings.DotNetNoteSettings> option

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="User" asp-action="Logout" method="post"
          id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Users") 
               && User.FindFirst("UserId").Value == option.Value.SiteAdmin)
            {
                <li>
                    <a asp-controller="Admin" asp-action="Index">
                        <i class="fa fa-gear"></i> 대시보드
                    </a>
                </li>
            }
            <li>
                <a asp-controller="User" asp-action="UserInfor" title="Manage">
                    @User.FindFirst("UserId").Value
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">
                    로그아웃
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="User" asp-action="Register">회원 가입</a></li>
        <li><a asp-controller="User" asp-action="Login">로그인</a></li>
    </ul>
}
