
<h2>회원 정보 관리</h2>

<p>
    @User.FindFirst("UserId").Value 님의 정보는 아래와 같습니다. 
</p>


<hr />

<h4>캐릭터 기능 추가</h4>
<a href="/Character">캐릭터 선택</a>

<h4>사용자 전체 정보 표시</h4>
<a href="/User/UserDetail">사용자 상세 정보</a>